html, body, *{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-size: 62.5%;
  
  }


body{
    background-color: rgb(160, 223, 160);
}
.title{
    font-size: 5rem;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.buttons{
    font-size: 4rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 5rem;
    margin: auto;
    
    
}

.card{
    width: 40rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 1rem;
    background-color: grey;
    border-radius: 1rem;
    color: white;
    
}
  
.name{
    font-size: 3rem;
}